<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Styles/Dashboard/responsive.css" rel="stylesheet" type="text/css" media="all" />

    <link href="~/Styles/Dashboard/main-dashboard.css" rel="stylesheet" type="text/css" media="all" />
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>


    <nav class="left-sidebar">
        <button type="button" id="toggle-btn">
            <i class="fa fa-bars"></i>
        </button>
        <span class="logo-content">
            <img class="logo-image" src="~/Images/opc.png">
            <span class="logo_name">OPC</span>
        </span>

        <div class="nav-links" id="sidebar">
            <a href="#"><div class="sidebar-title"><i class="fa-solid fa-house"></i> <div>Trang chủ</div></div></a>

            <button class="dropdown-btn" onclick="toggleSubmenu('submenu1', 'arrow1')">
                <div class="sidebar-title">
                    <i class="fa-solid fa-chart-pie"></i>
                    <div>Báo Cáo</div>
                </div>
                <div id="arrow1" class="icon-arrow">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </button>
            <div id="submenu1" class="dropdown-container submenu-container">
                <button class="submenu-btn" onclick="toggleSubmenu('submenu1_1','arrow-subicon')">
                    1.Báo Cáo Quản Trị
                    <div id="arrow-subicon" class="subicon-arrow">
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </button>
                <div id="submenu1_1" class="submenu-container">
                    <a href="#">1.1 Doanh Thu Chi Nhánh</a>
                    <a href="#">1.2 Doanh Thu CN Theo Gam</a>
                    <a href="#">1.3 Doanh Thu CN Tính Lương</a>
                    <a href="#">1.4 Doanh Thu Tổng Hợp - Chi Tiết</a>
                </div>
                <button class="submenu-btn" onclick="toggleSubmenu('submenu1_2')">2.Báo Cáo Nghiệp Vụ</button>
                <div id="submenu1_2" class="submenu-container">
                    <a href="#">Submenu 1.2.1</a>
                    <a href="#">Submenu 1.2.2</a>
                </div>
                <button class="submenu-btn" onclick="toggleSubmenu('submenu1_3')">3.Báo Cáo Công Nợ</button>
                <div id="submenu1_3" class="submenu-container">
                    <a href="#">Submenu 1.3.1</a>
                    <a href="#">Submenu 1.3.2</a>
                </div>
            </div>
            <button class="dropdown-btn" onclick="toggleSubmenu('submenu2','arrow2')">
                <div class="sidebar-title">
                    <i class="fa-solid fa-table-list"></i>
                    <div>Danh Mục</div>
                </div>
                <div id="arrow2" class="icon-arrow-2">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </button>
            <div id="submenu2" class="dropdown-container submenu-container">
                <button class="submenu-btn" onclick="toggleSubmenu('submenu2_1')">Báo Cáo Công Nợ</button>
                <div id="submenu2_1" class="submenu-container">
                    <a href="#">Submenu 1.1.1</a>
                    <a href="#">Submenu 1.1.2</a>
                </div>
                <button class="submenu-btn" onclick="toggleSubmenu('submenu2_2')">Báo Cáo Quản Trị</button>
                <div id="submenu2_2" class="submenu-container">
                    <a href="#">Submenu 1.2.1</a>
                    <a href="#">Submenu 1.2.2</a>
                </div>
                <button class="submenu-btn" onclick="toggleSubmenu('submenu3_3')">Báo Cáo Nghiệp Vụ</button>
                <div id="submenu3_3" class="submenu-container">
                    <a href="#">Submenu 1.3.1</a>
                    <a href="#">Submenu 1.3.2</a>
                </div>
            </div>
            <a href="#"><div class="sidebar-title"><i class="fa-solid fa-lock"></i> <div>Đổi Mật Khẩu</div></div></a>
            <a href="#" onclick="logout()"><div class="sidebar-title"><i class="fa-solid fa-right-from-bracket"></i> <div>Đăng Xuất</div></div></a>
        </div>
    </nav>
    <section class="main-container">
        <div class="header">
            <div class="header-left">




            </div>
            <div class="header-right">
                <div class="welcome-txt">WELCOME BACK</div>
                <div class="user-txt">@Request.Cookies["UserName"].Value</div>
            </div>
        </div>
    </section>


    <script>
        function logout() {
            // Làm rỗng mảng tabArray
            const tabArray = JSON.parse(localStorage.getItem("tabsArray")) || [];
            tabArray.length = 0;
            localStorage.setItem("tabsArray", JSON.stringify(tabArray));

            // Điều hướng đến trang đăng nhập
            window.location.href = "/home/login";
        }
        function toggleSubmenu(submenuId, arrowId) {
            var submenu = document.getElementById(submenuId);
            var arrow = document.getElementById(arrowId);

            if (submenu.style.display === 'block') {
                submenu.style.display = 'none';
                arrow.innerHTML = '<i class="fa-solid fa-chevron-down"></i>';
            } else {
                submenu.style.display = 'block';
                arrow.innerHTML = '<i class="fa-solid fa-chevron-up"></i>';
            }
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const nav = document.querySelector('nav');
            const toggleBtn = document.getElementById('toggle-btn');
            const content = document.querySelector('.main-container');
            const span = document.querySelector('.logo-content');

            function checkScreenWidth() {
                if (window.innerWidth <= 1300) {
                    nav.classList.add('hide');
                    span.classList.add('hide');
                    content.classList.add('expand');
                } else {
                    nav.classList.remove('hide');
                    span.classList.remove('hide');
                    content.classList.remove('expand');
                }
            }

            // Kiểm tra kích thước màn hình khi trang web được tải lên
            checkScreenWidth();

            // Thêm sự kiện resize để kiểm tra lại khi kích thước màn hình thay đổi
            window.addEventListener('resize', function () {
                checkScreenWidth();
            });

            toggleBtn.onclick = function () {
                nav.classList.toggle('hide');
                span.classList.toggle('hide');
                content.classList.toggle('expand');
            };
        });
    </script>

</body>
</html>
