<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Styles/Dashboard/responsive.css" rel="stylesheet" type="text/css" media="all" />

    <link href="~/Styles/Dashboard/main-dashboard.css" rel="stylesheet" type="text/css" media="all" />
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>


    <nav class="left-sidebar">
        <button type="button" id="toggle-btn">
            <i class="fa fa-bars"></i>
        </button>
        <span class="logo-content">
            <img class="logo-image" src="~/Images/opc.png">
            <span class="logo_name">OPC</span>
        </span>

        <div class="nav-links" id="sidebar">
            <a href="#"><div class="sidebar-title"><i class="fa-solid fa-house"></i> <div>Trang chủ</div></div></a>

            <button class="dropdown-btn" onclick="toggleSubmenu('submenu1', 'arrow1')">
                <div class="sidebar-title">
                    <i class="fa-solid fa-chart-pie"></i>
                    <div>Báo Cáo</div>
                </div>
                <div id="arrow1" class="icon-arrow">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </button>
            <div id="submenu1" class="dropdown-container submenu-container">
                <button class="submenu-btn" onclick="toggleSubmenu('submenu1_1','arrow-subicon')">
                    1.Báo Cáo Quản Trị
                    <div id="arrow-subicon" class="subicon-arrow">
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </button>
                <div id="submenu1_1" class="submenu-container">
                    <a href="#">1.1 Doanh Thu Chi Nhánh</a>
                    <a href="#">1.2 Doanh Thu CN Theo Gam</a>
                    <a href="#">1.3 Doanh Thu CN Tính Lương</a>
                    <a href="#">1.4 Doanh Thu Tổng Hợp - Chi Tiết</a>
                </div>
                <button class="submenu-btn" onclick="toggleSubmenu('submenu1_2')">2.Báo Cáo Nghiệp Vụ</button>
                <div id="submenu1_2" class="submenu-container">
                    <a href="#">Submenu 1.2.1</a>
                    <a href="#">Submenu 1.2.2</a>
                </div>
                <button class="submenu-btn" onclick="toggleSubmenu('submenu1_3')">3.Báo Cáo Công Nợ</button>
                <div id="submenu1_3" class="submenu-container">
                    <a href="#">Submenu 1.3.1</a>
                    <a href="#">Submenu 1.3.2</a>
                </div>
            </div>
            <button class="dropdown-btn" onclick="toggleSubmenu('submenu2','arrow2')">
                <div class="sidebar-title">
                    <i class="fa-solid fa-table-list"></i>
                    <div>Danh Mục</div>
                </div>
                <div id="arrow2" class="icon-arrow-2">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </button>
            <div id="submenu2" class="dropdown-container submenu-container">
                <button class="submenu-btn" onclick="toggleSubmenu('submenu2_1')">Báo Cáo Công Nợ</button>
                <div id="submenu2_1" class="submenu-container">
                    <a href="#">Submenu 1.1.1</a>
                    <a href="#">Submenu 1.1.2</a>
                </div>
                <button class="submenu-btn" onclick="toggleSubmenu('submenu2_2')">Báo Cáo Quản Trị</button>
                <div id="submenu2_2" class="submenu-container">
                    <a href="#">Submenu 1.2.1</a>
                    <a href="#">Submenu 1.2.2</a>
                </div>
                <button class="submenu-btn" onclick="toggleSubmenu('submenu3_3')">Báo Cáo Nghiệp Vụ</button>
                <div id="submenu3_3" class="submenu-container">
                    <a href="#">Submenu 1.3.1</a>
                    <a href="#">Submenu 1.3.2</a>
                </div>
            </div>
            <a href="#"><div class="sidebar-title"><i class="fa-solid fa-lock"></i> <div>Đổi Mật Khẩu</div></div></a>
            <a href="#" onclick="logout()"><div class="sidebar-title"><i class="fa-solid fa-right-from-bracket"></i> <div>Đăng Xuất</div></div></a>
        </div>
    </nav>
    <section class="main-container">
        <div class="header">
            <div class="header-left">




            </div>
            <div class="header-right">
                <div class="welcome-txt">WELCOME BACK</div>
                <div class="user-txt">@Request.Cookies["UserName"].Value</div>
            </div>
        </div>
        <div class="main-content">
            <div class="box">
                <div class="box-row">
                    <div class="box-1">
                        <div>
                            <h5 class="text">TỔNG DOANH THU</h5>
                            <h5 class="num">20,000,000</h5>
                        </div>
                    </div>
                    <div class="box-2">
                        <div>
                            <h5 class="text">DOANH THU THÁNG HIỆN TẠI</h5>
                            <h5 class="num" >20,000,000</h5>
                        </div>
                    </div>
                </div>
                <div class="box-row">
                    <div class="box-3">
                        <div>
                            <h5 class="text">TỔNG DOANH THU</h5>
                            <h5 class="num">20,000,000</h5>
                        </div>
                    </div>
                    <div class="box-4">
                        <div>
                            <h5 class="text">TỔNG DOANH THU</h5>
                            <h5 class="num">20,000,000</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-chart">
                <div class="chart-1"> <canvas id="gaugeChart"></canvas></div>
                <div class="chart-2"> <canvas id="gaugeChart2"></canvas></div>
                <div class="chart-3"> <canvas id="gaugeChart3"></canvas></div>

            </div>
            <div class="row-table">
                <div class="table">
                   <table>
                       <thead>
                           <tr>
                               <td>STT</td>
                               <td>Số HĐ</td>
                               <td>Ngày HĐ</td>
                               <td>Mã Vật Tư</td>
                               <td>Tên Vật Tư</td>
                               <td>Giá</td>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>1</td>
                               <td>0001</td>
                               <td>1/1/2024</td>
                               <td>1003663</td>
                               <td>Kim Tiền Thảo</td>
                               <td>10000000</td>
                           </tr>
                           <tr>
                               <td>2</td>
                               <td>0002</td>
                               <td>2/1/2024</td>
                               <td>1003664</td>
                               <td>Kim Tiền Thảo</td>
                               <td>10000000</td>
                           </tr>
                       </tbody>
                       <tfoot>
                           <tr>
                               <td colspan="5">Tổng cộng</td>
                               <td>10000000</td>
                           </tr>
                       </tfoot>
                   </table>
                </div>
                <div class="line-chart"></div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        function logout() {
            // Làm rỗng mảng tabArray
            const tabArray = JSON.parse(localStorage.getItem("tabsArray")) || [];
            tabArray.length = 0;
            localStorage.setItem("tabsArray", JSON.stringify(tabArray));

            // Điều hướng đến trang đăng nhập
            window.location.href = "/home/login";
        }
        function toggleSubmenu(submenuId, arrowId) {
            var submenu = document.getElementById(submenuId);
            var arrow = document.getElementById(arrowId);

            if (submenu.style.display === 'block') {
                submenu.style.display = 'none';
                arrow.innerHTML = '<i class="fa-solid fa-chevron-down"></i>';
            } else {
                submenu.style.display = 'block';
                arrow.innerHTML = '<i class="fa-solid fa-chevron-up"></i>';
            }
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const nav = document.querySelector('nav');
            const toggleBtn = document.getElementById('toggle-btn');
            const content = document.querySelector('.main-container');
            const span = document.querySelector('.logo-content');

            function checkScreenWidth() {
                if (window.innerWidth <= 1300) {
                    nav.classList.add('hide');
                    span.classList.add('hide');
                    content.classList.add('expand');
                } else {
                    nav.classList.remove('hide');
                    span.classList.remove('hide');
                    content.classList.remove('expand');
                }
            }

            // Kiểm tra kích thước màn hình khi trang web được tải lên
            checkScreenWidth();

            // Thêm sự kiện resize để kiểm tra lại khi kích thước màn hình thay đổi
            window.addEventListener('resize', function () {
                checkScreenWidth();
            });

            toggleBtn.onclick = function () {
                nav.classList.toggle('hide');
                span.classList.toggle('hide');
                content.classList.toggle('expand');
            };
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var data = {
                value: 200,
                max: 300,
                label: "Tỷ lệ"
            };

            var config = {
                type: 'doughnut',
                data: {
                    labels: [data.label],
                    datasets: [{
                        data: [data.value, data.max - data.value],
                        backgroundColor: ['rgba(54, 162, 235, 0.8)', 'rgba(0, 0, 0, 0.1)'],
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    cutoutPercentage: 85,
                    rotation: -90,
                    circumference: 180,
                    tooltips: {
                        enabled: false
                    },
                    legend: {
                        display: false
                    },
                    animation: {
                        animateRotate: true,
                        animateScale: false
                    },
                    title: {
                        display: true,
                        text: data.label,
                        fontSize: 16,
                        position: 'top', // Đặt vị trí của tiêu đề
                        padding: 10
                    },
                    plugins: {
                        datalabels: {
                            display: true,
                            color: '#000000', // Màu chữ
                            formatter: function (value, context) {
                                return value + '%';
                            },
                            anchor: 'end',
                            align: 'end'
                        }
                    }
                },
                // Thêm một hàm callback để vẽ nhãn tùy chỉnh cho 0 và 100%
                plugins: [{
                    beforeDraw: function (chart) {
                        var ctx = chart.ctx;
                        var fontSize = 16;
                        var fontStyle = 'bold';
                        var fontFamily = 'Arial';
                        ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);
                        ctx.fillStyle = '#000000'; // Màu chữ

                        var percentLabels = ['0%', '300%'];
                        var centerX = (chart.chartArea.left + chart.chartArea.right) / 2;
                        var centerY = (chart.chartArea.top + chart.chartArea.bottom) / 2;

                        percentLabels.forEach(function (label, index) {
                            var xOffset = (index === 0) ? -ctx.measureText(label).width - 90 : 90;
                            var yOffset = (index === 0) ? 90 : 90;
                            ctx.fillText(label, centerX + xOffset, centerY + yOffset);
                        });
                        var valueLabel = data.value.toString();
                        var valueFontSize = 24; // Kích thước font cho số 200
                        ctx.font = Chart.helpers.fontString(valueFontSize, fontStyle, fontFamily);
                        var valueXOffset = (-ctx.measureText(valueLabel).width / 2) - 10;
                        var valueYOffset = 10 + (valueFontSize + 20 / 2);
                        ctx.fillText(valueLabel + "%", centerX + valueXOffset, centerY + valueYOffset);
                    }
                }]
            };
            var chartCanvas = document.getElementById('gaugeChart');
            chartCanvas.style.width = '300px'; // Đặt chiều rộng của canvas
            chartCanvas.style.height = '200px';
            var chartCtx = document.getElementById('gaugeChart').getContext('2d');
            var gaugeChart = new Chart(chartCtx, config);
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var data = {
                value: 150,
                max: 300,
                label: "Tỷ lệ"
            };

            var config = {
                type: 'doughnut',
                data: {
                    labels: [data.label],
                    datasets: [{
                        data: [data.value, data.max - data.value],
                        backgroundColor: ['rgba(236, 237, 6, 100)', 'rgba(0, 0, 0, 0.1)'],
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    cutoutPercentage: 85,
                    rotation: -90,
                    circumference: 180,
                    tooltips: {
                        enabled: false
                    },
                    legend: {
                        display: false
                    },
                    animation: {
                        animateRotate: true,
                        animateScale: false
                    },
                    title: {
                        display: true,
                        text: data.label,
                        fontSize: 16,
                        position: 'top', // Đặt vị trí của tiêu đề
                        padding: 10
                    },
                    plugins: {
                        datalabels: {
                            display: true,
                            color: '#000000', // Màu chữ
                            formatter: function (value, context) {
                                return value + '%';
                            },
                            anchor: 'end',
                            align: 'end'
                        }
                    }
                },
                // Thêm một hàm callback để vẽ nhãn tùy chỉnh cho 0 và 100%
                plugins: [{
                    beforeDraw: function (chart) {
                        var ctx = chart.ctx;
                        var fontSize = 16;
                        var fontStyle = 'bold';
                        var fontFamily = 'Arial';
                        ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);
                        ctx.fillStyle = '#000000'; // Màu chữ

                        var percentLabels = ['0%', '300%'];
                        var centerX = (chart.chartArea.left + chart.chartArea.right) / 2;
                        var centerY = (chart.chartArea.top + chart.chartArea.bottom) / 2;

                        percentLabels.forEach(function (label, index) {
                            var xOffset = (index === 0) ? -ctx.measureText(label).width - 90 : 90;
                            var yOffset = (index === 0) ? 90 : 90;
                            ctx.fillText(label, centerX + xOffset, centerY + yOffset);
                        });
                        var valueLabel = data.value.toString();
                        var valueFontSize = 24; // Kích thước font cho số 200
                        ctx.font = Chart.helpers.fontString(valueFontSize, fontStyle, fontFamily);
                        var valueXOffset = (-ctx.measureText(valueLabel).width / 2) - 10;
                        var valueYOffset = 10 + (valueFontSize + 20 / 2);
                        ctx.fillText(valueLabel + "%", centerX + valueXOffset, centerY + valueYOffset);
                    }
                }]
            };
            var chartCanvas = document.getElementById('gaugeChart2');
            chartCanvas.style.width = '300px'; // Đặt chiều rộng của canvas
            chartCanvas.style.height = '200px';
            var chartCtx = document.getElementById('gaugeChart2').getContext('2d');
            var gaugeChart = new Chart(chartCtx, config);
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var data = {
                value: 90,
                max: 300,
                label: "Tỷ lệ"
            };

            var config = {
                type: 'doughnut',
                data: {
                    labels: [data.label],
                    datasets: [{
                        data: [data.value, data.max - data.value],
                        backgroundColor: ['rgba(255, 167, 112, 100)', 'rgba(0, 0, 0, 0.1)'],
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    cutoutPercentage: 85,
                    rotation: -90,
                    circumference: 180,
                    tooltips: {
                        enabled: false
                    },
                    legend: {
                        display: false
                    },
                    animation: {
                        animateRotate: true,
                        animateScale: false
                    },
                    title: {
                        display: true,
                        text: data.label,
                        fontSize: 16,
                        position: 'top', // Đặt vị trí của tiêu đề
                        padding: 10
                    },
                    plugins: {
                        datalabels: {
                            display: true,
                            color: '#000000', // Màu chữ
                            formatter: function (value, context) {
                                return value + '%';
                            },
                            anchor: 'end',
                            align: 'end'
                        }
                    }
                },
                // Thêm một hàm callback để vẽ nhãn tùy chỉnh cho 0 và 100%
                plugins: [{
                    beforeDraw: function (chart) {
                        var ctx = chart.ctx;
                        var fontSize = 16;
                        var fontStyle = 'bold';
                        var fontFamily = 'Arial';
                        ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);
                        ctx.fillStyle = '#000000'; // Màu chữ

                        var percentLabels = ['0%', '300%'];
                        var centerX = (chart.chartArea.left + chart.chartArea.right) / 2;
                        var centerY = (chart.chartArea.top + chart.chartArea.bottom) / 2;

                        percentLabels.forEach(function (label, index) {
                            var xOffset = (index === 0) ? -ctx.measureText(label).width - 90 : 90;//chieu rong value
                            var yOffset = (index === 0) ? 90 : 90;//chieu cao value
                            ctx.fillText(label, centerX + xOffset, centerY + yOffset);
                        });
                        var valueLabel = data.value.toString();
                        var valueFontSize = 24; // Kích thước font cho số 200
                        ctx.font = Chart.helpers.fontString(valueFontSize, fontStyle, fontFamily);
                        var valueXOffset = (-ctx.measureText(valueLabel).width / 2) - 10;
                        var valueYOffset = 10 + (valueFontSize + 20 / 2);
                        ctx.fillText(valueLabel + "%", centerX + valueXOffset, centerY + valueYOffset);
                    }
                }]
            };
            var chartCanvas = document.getElementById('gaugeChart3');
            chartCanvas.style.width = '300px'; // Đặt chiều rộng của canvas
            chartCanvas.style.height = '200px';
            var chartCtx = document.getElementById('gaugeChart3').getContext('2d');
            var gaugeChart = new Chart(chartCtx, config);
        });
    </script>






</body>
</html>
